@model MvcTest.Models.ProductModel
@{
	ViewBag.Title = "Productdetail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
	var message = TempData["AlertMessage"] ?? string.Empty;
}

<script type="text/javascript">
 var message = '@message';
if(message) alert(message);
</script>


<br>
<br>

<div id="main-content">
	<div class="container-fluid">
		<br>
		<div class="row clearfix">
			<div class="col-lg-12 col-md-12">
				<div class="card">
					<div class="header">
						<h2>Product Info</h2>
						<div class="box-tools pull-right">
							<button type="button" class="btn dropdown-toggle  btn-primary" onclick="location.href='@Url.Action("Product", "Product")'">
								<i class="icon-arrow-left"></i> Back To List
							</button>
						</div>
					</div>
					<div class="body">
						@using (Html.BeginForm("Productdetail", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
						{
						<div class="row">
							<div class="col-lg-2 col-md-12">
								<label>Id</label>
								<div class="input-group mb-3">
									@Html.TextBoxFor(model => model.pro_id, htmlAttributes: new { @id = "proid", @placeholder = "Id", @class = "form-control", @readonly = "readonly" })
								</div>
							</div>
							<div class="col-lg-4 col-md-12">
								<label>Name</label>
								<div class="input-group mb-3">
									@Html.TextBoxFor(model => model.pro_name, htmlAttributes: new { @id = "proname", @placeholder = "Enter Product Name", @class = "form-control" })
								</div>
							</div>
							<div class="col-lg-4 col-md-12">
								<label>Select Category</label>
								<div class="input-group mb-3">
									@Html.DropDownListFor(model => model.cat_id, new SelectList(ViewBag.CategoryDetail, "key", "displayfield", ""), new { @class = "form-control", @id = "catid", @style = "width:100%;" })
								</div>
							</div>
							<div class="col-lg-4 col-md-12">
								<br>
								<button id="btnvalidate" type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
						}
					</div>
				</div>
			</div>

		</div>

	</div>
</div>


@section Scripts {

	<script type="text/javascript">
		$(function () {
			$('#btnvalidate').click(function () {
				var summary = "";
				summary += isvalidproname();

				if (summary != "") {
					alert(summary);
					return false;
				}
				else {
					return true;
				}
			})
		})
		function isvalidproname() {
			var temp = $("#proname").val();
			if (temp == "") {
				return ("Please Enter Product Name" + "\n");
			}
			else {
				return "";
			}
		}

	</script>
}

