
<div class="page-loader-wrapper">
	<div class="loader">
		<div class="m-t-30"><img src="https://nimapinfotech.com/wp-content/uploads/2019/01/nimap-logo.png" width="48" height="48" alt="Lucid"></div>
		<p>Please wait...</p>
	</div>
</div>